	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/11/2020 23:19
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 60px;
font-style: normal;
margin-left: 20px;
}

.flaticon-dental-implant:before { content: "\f100"; }
.flaticon-tooth:before { content: "\f101"; }
.flaticon-dental:before { content: "\f102"; }
.flaticon-dental-care:before { content: "\f103"; }
.flaticon-anesthesia:before { content: "\f104"; }
.flaticon-dental-care-1:before { content: "\f105"; }
.flaticon-tooth-1:before { content: "\f106"; }
.flaticon-tooth-2:before { content: "\f107"; }
.flaticon-crown:before { content: "\f108"; }
.flaticon-tooth-3:before { content: "\f109"; }
.flaticon-tooth-4:before { content: "\f10a"; }
.flaticon-dental-1:before { content: "\f10b"; }
.flaticon-dentist-1:before { content: "\f10c"; }
.flaticon-tooth-5:before { content: "\f10d"; }
.flaticon-dentist:before { content: "\f10e"; }
.flaticon-medical-appointment:before { content: "\f10f"; }
.flaticon-mouth-mirror:before { content: "\f110"; }
.flaticon-dental-2:before { content: "\f111"; }